@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

* {
  box-sizing: border-box;
}

html {
  font-family: 'Noto Sans JP', sans-serif;
}

body {
  margin: 0;
  background-color: #3f3f3f;
}

::-webkit-scrollbar {
  width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(31, 31, 31);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #3f3f3f;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
